drop schema if exists popcornman_db;
drop user if exists popcornman;
create schema popcornman_db;
create user popcornman@'%' identified by 'secret';
grant all on popcornman_db.* to popcornman@'%';
flush privileges;
