drop schema if exists smart_popcorn_db;
drop user if exists smart_popcorn;
create schema smart_popcorn_db;
create user smart_popcorn@'%' identified by 'secret';
grant all on smart_popcorn_db.* to smart_popcorn@'%';
flush privileges;
